<nav class="navbar border-bottom">
  <div class="container-fluid">
    <a (click)="openLeftMenu()" class="navbar-brand py-0 d-flex align-items-center">
      <i class="bi bi-folder-fill fs-2 me-3"></i>
      <a href="">Proyectos / Angular blog</a></a
    >
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar en el proyecto..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
</nav>
