@import "../../../variables.scss";

.principal-container {
  background-color: $blue-800;
  overflow-x: auto;
  height: calc(100% - 65px);
  overflow-y: hidden;
}

.abrirBtn {
  cursor: pointer;
  text-decoration: none;
  background-color: $blue-700;

  &:hover {
    background-color: $blue-600;
  }
}
