<div
  class="h-100 border-end"
  [ngClass]="{
    leftMenuClosed: !isLeftMenuIsOpen,
    leftMenuOpen: isLeftMenuIsOpen
  }"
>
  <div class="d-flex justify-content-between h-100">
    @if (isLeftMenuIsOpen) {
    <ul class="w-100 ps-4">
      @for (proyecto of proyectos; track $index) {
      <li class="py-1 border-bottom ps-1">
        <a routerLink="/drag-and-drop" routerLinkActive="active">{{
          proyecto.nombre
        }}</a>
      </li>
      }
    </ul>
    }
    <div
      class="colapsable d-flex align-items-center h-100 px-1"
      (click)="openLeftMenu()"
    >
      <i
        class="bi"
        [ngClass]="{
          'bi-arrow-bar-right': !isLeftMenuIsOpen,
          'bi-arrow-bar-left': isLeftMenuIsOpen
        }"
      ></i>
    </div>
  </div>
</div>
