<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-start">
      <h6 class="m-0">{{ box.title }}</h6>
      <span class="badge rounded-pill text-bg-primary ms-1">{{
        box.cards.length
      }}</span>
      <i class="bi bi-three-dots ms-auto"></i>
    </div>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="box.cards"
    class="card-body"
    (cdkDropListDropped)="drop($event)"
  >
    @for (card of box.cards; track $index) {
    <app-backlog-card class="box" cdkDrag [item]="card.title"></app-backlog-card>
    }
  </div>

  <div
    class="card-footer text-body-secondary btn btn-secondary border-0 text-start"
    data-bs-toggle="offcanvas"
    data-bs-target="#staticBackdrop"
    aria-controls="staticBackdrop"
    (click)="createCard()"
  >
    + Agregar
  </div>
</div>
