<div class="d-flex align-items-center w-100">
  <h6 class="text-muted">Berishten 25/02/2024</h6>
  <button
    class="btn btn-secondary ms-auto mb-2"
    (click)="showMarkdownView = !showMarkdownView"
  >
    {{ showMarkdownView ? "Editar" : "Vista previa" }}
  </button>
</div>
<div *ngIf="!showMarkdownView">
  <!-- Toggle view -->
  <textarea class="variable-textarea w-100" [(ngModel)]="markdown"></textarea>
</div>
<div *ngIf="showMarkdownView">
  <!-- Markdown view -->
  <markdown
    lineHighlight
    class="variable-binding w-100"
    [data]="markdown"
  ></markdown>
</div>
