<div
  class="offcanvas offcanvas-end w-75"
  data-bs-backdrop="static"
  tabindex="-1"
  id="staticBackdrop"
  aria-labelledby="staticBackdropLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Titulo editable</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" id="descripcion" rows="3"></textarea>
        </div>
        <div class="col-lg-4 border-start">
          <app-issue-fields [fields]="fields"></app-issue-fields>
          <hr />
          <div class="text-danger p-3">
            <i class="bi bi-trash"></i> Eliminar issue
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
