<div
  class="offcanvas offcanvas-end w-75 h-100"
  data-bs-backdrop="static"
  tabindex="-1"
  id="staticBackdrop"
  aria-labelledby="staticBackdropLabel"
>
  <div class="offcanvas-header d-flex flex-column pb-0">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
    <div class="offcanvas-title w-100 d-flex align-items-center">
      <h3 class="border-bottom me-2" id="staticBackdropLabel">
        {{ titulo || "Nuevo issue" }}
      </h3>
      <div class="edit-button me-auto">
        <span>Editar</span>
        <i class="bi bi-pencil-fill ms-1"></i>
      </div>
    </div>
  </div>
  <div class="offcanvas-body h-100 p-0">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-8 p-0">
          <app-input-markdown
            [markdown]="descripcion"
            class="my-3 w-75"
          ></app-input-markdown>
        </div>
        <div class="col-md shadow h-100 p-0">
          <div class="position-sticky top-0">
            <app-issue-fields [fields]="fields"></app-issue-fields>
            <hr />
            <div class="text-danger p-3">
              <i class="bi bi-trash"></i> Eliminar issue
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
